@model IEnumerable<A10.Models.Member>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.lastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.firstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.streetAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.city)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.state)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.zipCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.emailAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.phoneHome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.phoneCell)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.employerCompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.employerPhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.emergencyContactName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.emergencyContactPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.emergencyContactRelationship)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.currentAmountOwed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MembershipType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.primaryLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MembershipStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.lastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.firstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.streetAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.city)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.state)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.zipCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.emailAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phoneHome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phoneCell)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.employerCompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.employerPhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.emergencyContactName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.emergencyContactPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.emergencyContactRelationship)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.currentAmountOwed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MembershipType.membershipTypeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.primaryLocation.locationId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MembershipStatus.membershipStatusId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.memberId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.memberId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.memberId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
