@model IEnumerable<A10.Models.Location>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.locationStreetAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.city)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.state)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.zipCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.locationShortName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.locationphoneNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.locationStreetAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.city)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.state)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.zipCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.locationShortName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.locationphoneNumber)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.locationId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.locationId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.locationId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
