@model IEnumerable<A10.Models.ClassEnrollee>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClassSession)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Member)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClassSession.FitnessClass.fitnessclassTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Member.firstName)
                @Html.DisplayFor(modelItem => item.Member.lastName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.enrolledRegistrationId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.enrolledRegistrationId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.enrolledRegistrationId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
